---

import Layout from '../layouts/Layout.astro';
import Tarjeta from '../components/tarjeta.astro';

import escNORMATECA from "../img/esc_NORMATECA.webp";
import escREDTIC from "../img/esc_REDTIC.webp";
import escDGTIC from "../img/esc_DGTIC.webp";
import escDGPr from "../img/esc_DGPr.webp";

//Imagenes para tarjetas
import ImgQuines from '../img/quienes.webp';
import ImgConsojeros from '../img/consejeros.webp';
import ImgAcuerdo from '../img/acuerdo2.webp';
import ImgConvocatoria from '../img/convocatorias.webp';
import ImgSistemaTic from '../img/sistemas_respTIC.webp';
import ImgNormatividad from '../img/normatividad.webp'

import Carrusel from '../components/carrusel.astro';

---

<Layout title="CATIC">

		<!--Carrusel -->
		
		
		<section class="md:mt-4">
			<Carrusel/>	
		</section>

		
		<!--Tarjetas-->
		<section class="w-68 xl:w-[1250px] flex flex-wrap justify-center gap-8 mt-10 mx-auto ">
		<!-- <section class="flex flex-wrap justify-center text-center  "> -->
			<!--Quines somos -->
			<Tarjeta 
			nombre="Quienes Somos" 
			alt = "enlace a quienes somos"
			url= {ImgQuines.src}
			enlace = "/quienesSomos"
			colorTitle ="bg-teal-800"
			colorTriangle = "bg-teal-900"
			/>


			<!--Consejeros 2019-2021 -->
			<Tarjeta 
			nombre="Consejeros 2019-2021"
			alt = "enlace a consejeros 2019-2021"
			url= {ImgConsojeros.src} 
			enlace = "/consejeros"
			colorTitle ="bg-green-800"
			colorTriangle = "bg-green-900"
			/>

			
			<!--Acuerdos -->
			<Tarjeta 
			nombre="Acuerdos"
			alt = "enlace acuerdos"
			url= {ImgAcuerdo.src} 
			enlace='https://www.red-tic.unam.mx/recursos/UNAM_AcuerdoCreacionCATIC2009.pdf'
			colorTitle ="bg-amber-700"
			colorTriangle = "bg-amber-800"
			/>
			
			
			<!--Convocatorias -->
			<Tarjeta 
			nombre="Convocatorias"
			alt = "enlace a convocatorias"
			url= {ImgConvocatoria.src}
			enlace = "/convocatorias" 
			colorTitle ="bg-red-800"
			colorTriangle = "bg-red-900"
			/>


			<!--Sistemas para responsables TIC -->
			<Tarjeta 
			nombre="Sistemas para responsables TIC"
			alt = "enlace a sistemas para responsables TIC"
			url= {ImgSistemaTic.src} 
			enlace = "/sistemastic"
			colorTitle ="bg-violet-800"
			colorTriangle = "bg-violet-900"
			/>


			<!--Normatividad -->
			<Tarjeta 
			nombre="Normatividad"
			alt = "enlace a normatividad"
			url= {ImgNormatividad.src}
			enlace = "/normatividad" 
			colorTitle ="bg-blue-800"
			colorTriangle ="bg-blue-900"
			/> 
		</section>
		

		<!--Patrocinadores -->
		<div class="flex flex-col sm:flex-row justify-center items-center gap-10 my-10">
            <a href="https://www.red-tic.unam.mx/normatic" target="_blank" class="text-sm underline font-bold pr-3 pl-3 "><img src={escNORMATECA.src} class="grayscale hover:filter-none transition-all " width="190" alt="NORMATECA TIC"></a>
          
            <a href="https://www.red-tic.unam.mx/" target="_blank" class="text-sm underline font-bold pr-3 pl-3 "><img src={escREDTIC.src} class="grayscale hover:filter-none transition-all " width="120" alt="REDTIC"></a>
       
            <a href="https://www.tic.unam.mx/servicios-de-tic/" target="_blank" class="text-sm underline font-bold pr-3 pl-3 "><img src={escDGTIC.src} class="grayscale hover:filter-none transition-all " width="190" alt="DGTIC"></a>
         
            <a href="https://www.proveeduria.unam.mx/app.dgpr/marco/" target="_blank" class="text-sm underline font-bold pr-3 pl-3 "><img src={escDGPr.src} class="grayscale hover:filter-none transition-all " width="120" alt="DGPr"></a>
        </div>




</Layout>