---
//Imagenes para carrusel 
import bgCatalogo from "../img/bnrBG_catalogos.webp";
import bgDocs from "../img/bnrBG_docs.webp";
import bgConv from "../img/bnrBG_conv.webp";
import bgResul from "../img/bnrBG_resultados.webp";
import bgProceso from "../img/bnrBG_proceso.webp";

import Slides from "./Slides.astro";

---


<div class="relative w-full max-w-6xl mx-auto overflow-hidden" id="carousel">
  <div class="flex transition-transform duration-500 " id="carousel-slides">
    <!--Slide 1 -->
    <Slides
      titulo = "Proceso de alta de equipos asignados por Convocatoria 2024 del CATIC"
      matiz = "bg-proceso/70"
      imagen={bgProceso.src}
      enlace="/docs/archivos/Proceso_de_registro_de_alta_a_reserva_2024.pdf"
      icon = "fa-solid fa-laptop mt-2 fa-2x"
    />
    <!--Slide 2 -->
    <Slides
      titulo = "Principios del software libre y código abierto en la UNAM"
      matiz = "bg-docs/80"
      enlace="https://www.red-tic.unam.mx/recursos/2024/2024_Principios_SWLibre.pdf"
      imagen={bgDocs.src}
      icon = "fa-solid fa-book mt-2 fa-2x"

    
    />
    <!--Slide 3 -->
    <Slides
      titulo = "Catálogo base para equipo de cómputo y periféricos  "
      matiz = "bg-catalogo/60"
      enlace="/docs/CatalogoBase-2025-180325.pdf"
      imagen={bgCatalogo.src}
      icon = "fa-solid fa-book-open-reader mt-2 fa-2x"
    />

    <Slides
      titulo = "Convocatoria 2025 para la asignación de equipos de cómputo"
      matiz = "bg-convocatoria/60"
      enlace="/docs/catic_convocatoria_2025.pdf"
      imagen={bgConv.src}
      icon = "fa-solid fa-computer mt-2 fa-2x"
    />

    <Slides
      titulo = "Resultados de asignacion 2024"
      matiz = "bg-resultados/70"
      enlace="/docs/catic_convocatoria_2025.pdf"
      imagen={bgResul.src}
      icon = "fa-solid fa-check-to-slot mt-2 fa-2x"
    />


  </div> 


  <!--Botones -->

  <button id="prevBtn"  class="absolute left-2 md:left-4 top-1/2 -translate-y-1/2 bg-white hover:bg-gray-300 text-gray-800 hover:text-blue-700 rounded-full w-10 h-10  shadow-md md:shadow-lg transition-all duration-500">
      &larr;
  </button>
  <button id="nextBtn" class="absolute right-2 md:right-4 top-1/2 -translate-y-1/2 bg-white hover:bg-gray-300 text-gray-800 hover:text-blue-700 rounded-full w-10 h-10 shadow-md md:shadow-lg transition-all duration-500">
      &rarr;
  </button>

  </div>
</div>

<!--paginación  -->
<div class="flex justify-center gap-4 mt-5" id="paginadores">

</div>


<script>
    
  import { initCarrusel } from '../scripts/carrusel';
  initCarrusel();

</script>

