---
 interface Props {

    titulo: string
    texto: string
    fondo: string
    imagen: string
    enlace?: string
 }

 const {titulo, texto, fondo, imagen, enlace} = Astro.props;
---
    <div class=" relative w-full flex-shrink-0 ">
        <img src={imagen} class="w-full " alt="Slide 1">
        <div class={`absolute inset-0 flex flex-col items-center justify-center text-white p-32 ${fondo}`}>
            <h2 class=" text-xl md:text-5xl font-bold text-center p-4">{titulo}</h2>
            <p class="text-sm md:text-lg cursor-pointer hover:bg-gray-500 p-1 rounded-md"><a href={enlace}>{texto}</a></p>
        </div>
    </div>



