---

interface Props {
    nombre: string;
    colorTitle: string;
    colorTriangle: string;
    url: string;
    enlace: string;

}

const {nombre, url,  colorTitle, colorTriangle, enlace} = Astro.props;
---

<!-- <section class ="w-[400px] h-[400px]  "> -->
    <div class="card">
       <a href={enlace}>
        <div class="card-img ">
            <div class={`triangle ${colorTriangle} to-50% `}></div>
            <img src={url} alt="" class="col-span-10 hover:cursor-pointer w-[356px] h-[300px] " />
        </div>
        <div class={`title ${colorTitle}`}>{nombre} </div>
    </div>
<!-- </section> -->



